aside {
  display: grid;
  gap: calc(var(--padding)*14);
  max-width: 275px;
  width: 100%;
}

.aside-user {
  display: grid;
  gap: calc(var(--padding)*7);
}

.aside-user__avatar {
  max-width: 275px;
  max-height: 275px;
  width: 100%;
  height: 100%;
  padding: 35px;
  background-image: url('../img/subtract.svg');
  background-repeat: no-repeat;
}

.aside-user__description {
  display: grid;
  gap: var(--padding);
  font-family: 'AnonymousPro-Regular', monospace;
}

.aside-user__description p span {
  color: var(--text-opacity);
}

.aside-user__other-item {
  display: grid;
  align-items: center;
  grid-template-columns: 2px auto;
  gap: var(--padding);
  font-family: 'AnonymousPro-Regular', monospace;
}

.aside-user__other-item .dot {
  display: grid;
  align-items: center;
  width: 2px;
  height: 19px;
}

.aside-user__other-item .dot::after {
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--text-opacity);
}

.aside-achievements h2 {
  font-size: 20px;
  color: var(--text);
  font-family: 'Inter-SemiBold', monospace;
}

.aside-achievements {
  display: grid;
  gap: calc(var(--padding)*7);
}

.aside-project h2 {
  font-size: 20px;
  color: var(--text);
  font-family: 'Inter-SemiBold', monospace;
}