header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--padding);
    height: 96px;
}

.header-nav {
    display: grid;
    align-items: center;
    gap: calc(var(--padding)*3);
    grid-template-columns: repeat(3, max-content);
    font-family: 'AnonymousPro-Regular', monospace;
}

.header-link {
  text-decoration: none;
  color: var(--text-opacity);
  height: 19px;
}

.header-download {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, max-content);
    gap: 4px;
    background-color: var(--card-opacity);
    padding: 0 calc(var(--padding)*2);
    height: 48px;
    color: var(--text);
    border: none;
    font-size: 15px;
    font-family: 'Inter-SemiBold';
    cursor: pointer;
}

.header-download img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 700px) {
  header {
    grid-template-columns: 1fr;
    height: auto;
    padding-top: calc(var(--padding)*3);
    gap: calc(var(--padding)*3);
  }

  header > img {
    margin: 0 auto;
  }

  .header-nav {
    display: grid;
    grid-template-columns: 1fr;
  }

  .header-download {
    display: none;
  }
}