.header-title {
    color: #fff;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;
}

.project-name {
    display: flex;
    flex-direction: column;
}

.project-name p {
    font-size: 34px;
    color: #A8B4CF;
    opacity: 0.8;
    font-family: 'Roboto';
    transition: .4s;
    cursor: default;
    padding-bottom: 15px;
    margin-bottom: 30px;
    cursor: pointer;
    width: fit-content;
}

.project-name p.active {
    opacity: 1;
    color: #FFF;
    transition: .4s;
}

.project-image {
    position: fixed;
    right: 4%;
    top: 118px;
    transition: .4s;
    margin-top: 60px;
    opacity: 0;
    transition: 0.7s;
}

.project-image.event {
    margin-top: 0px;
    opacity: 1;
    transition: 0.7s;
}

.project-image__urls {
    display: flex ;
    justify-content: center;
    gap: 0 25px;
}

.project-image__urls a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 60px;
    border: 1px solid rgba(168,179,207,0.2);
    border-radius: 8px;
    transition: .2s;

    text-decoration: none;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0px 0px 35px -19px #ce3df3;
    cursor: pointer;
}

.project-image__urls a:hover {
    box-shadow: 0px 4px 35px -10px #ce3df3;
    margin-top: -4px;
    transition: .2s;
}

.project-image__img {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
    max-width: 700px;
    max-height: 700px;
}

.project-image__urls a img {
    width: 25px;
    height: 25px;
    filter: invert();
    margin-bottom: 4px;
}