@font-face {
    font-family: inter;
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: epilepsy-bold;
    src: url('../fonts/EpilepsySans-Bold.ttf');
}

@font-face {
    font-family: epilepsy-regular;
    src: url('../fonts/EpilepsySans.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #242424;
    background-image: url('../img/noise.png');
}

.container{
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 4%;
}